
@font-face {
    font-family: pokemon;
    src: url('../PokemonDPPt.ttf')
}

@keyframes loadingSpinAnim {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

body {
    background: rgb(155, 216, 224);
    color: rgb(0, 0, 0);
    font-family: pokemon;
    font-size: 72px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

button {
    /*background: green;*/
    font-size: 30px;
    font-family: pokemon;
    padding: 10px;
    border-radius: 100px;
    border: none;
    transition: background 0.2s, transform 0.1s;
    outline: none;
}

button:hover {
    /*background: #173017;*/
    transform: scale(1.1);
}

button:active {
    /*background: black;*/
    transform: scale(1);
}

/* Pokédex GO GO */


.centered {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
    height: 100%;
}

.centered::-webkit-scrollbar {
    width: 10px;
}

.centered::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.centered::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: white;
    margin: 0 auto;
    
   
}
.centered::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: rgb(139, 139, 139);
}

#upperArea {
    margin: 0 auto;
    background-image: url("../images/interface/Interfaz_Higher.png");
    background-size: 905px 550px;
    width:905px;
    height: 550px;
    top:50%;
    left:50%;
}

#upperScreen {
    top:68px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    background-image: url("../images/interface/Pattern_LineV.png");
    background-size:60px 60px;
    padding:10px;   
    width: 700px;
    height: 400px;
}
#pokemonNameAndType{
    display:flex;
    flex-wrap:wrap;
    position: absolute;
    left:286px;
}
#header{
    font-size: 60px;
    background-size: 242px 40px;
    margin: 0px;
    width: 200px;
    height: 40px;
    background-image: url("../images/interface/Button_Green_Name.png");
    border-radius: 3px;
    align-self: right;
    position: absolute;
    left:286;
    display: inline;
    padding: 0 20px 0 20px;
}

#pokemonNameHeader {
    font-size: 40px;
    margin: 0px;
    width:240px;
    position: relative;
    left: -15px;
    
}

#pokemonTypeHeader{
    position: relative;
    top: 5px;
    left: 250px;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    
}
#type1{
    background-size: 70px 30px;
    width: 70px;
    height: 30px;
    transition: background-image 0.1s linear;
    background-image: url("../images/types/none.png");
}

#type2{
    background-size: 70px 30px;
    width: 70px;
    height: 30px;
    position: relative;
    left: 5px;
    transition: background-image 0.1s linear;
    background-image: url("../images/types/none.png");
}

#imageBackground {
    border-radius: 10px;
    /*background: rgb(184, 250, 158);*/
    background-image: url("../images/interface/Background_Hills.png");
    background-size:100% 100%;
    width: 256px;
    height: 380px;
    position: relative;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    top: 10px;
}

#image {
    align-self: left;
    display: inline;
    position: relative;
    top: 50px;
}
/*
*   PANTALLA DE STATS/BREEDING/CATCHING/TC/FORMS
*/
#statsNameHeader{
    font-size: 40px;
    margin: 0px;
}

#stats {
    background: rgb(255, 245, 199);
}
#abilities{
    display: flex;
    flex-wrap: wrap;
    margin:8px;
    padding-top:12px;
    height: 100px;
    
}
#abilities > div {
    width:180px;
    height:30px;
    font-size: 30px;
    border-radius: 5px 5px 5px 5px;
    border-color: black;
    border-width: 1px;
    border-style: groove;
    background-color: rgb(99, 171, 180);
}

#baseStats{
    display: flex;
    flex-wrap: wrap;
    margin:10px; 
}
#baseStats > div{
    
    width:80px;
    font-size:30px;
}
.allignR{
    text-align: right;
}
.allignL{
    text-align: left;
}

.statHeader {
    margin-top: 2px;
    max-width: 150px;
    padding-right: 5px;
    border-radius: 5px 0 0 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: lightcyan;
    transform: skewX(-10deg)
}

.statValue {
    margin-top: 2px;
    position: relative;
    top: 5px;
    padding-left: 5px;
    border-radius: 0 5px 5px 0;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    transform: skewX(-10deg);
}

.statRightColumn {
    margin-left: 10px;
}



#breeding {
    background: rgb(131, 130, 127);
}

#breedingImage {
    margin: 0 auto;
    border-radius: 10px;
    /*background: rgb(184, 250, 158);*/
    background-image: url("../images/pokemon/egg.png");
    background-size:100% 100%;
    width: 150px;
    height: 149px;
    position: relative;
}

#maleSign {
    font-size: 35px;
    display: inline;
    position: absolute;
    top: 170px;
    left: 14px;
}

#femaleSign {
    font-size: 35px;
    display: inline;
    position: absolute;
    top: 170px;
    right: 10px;
}

#breedStats {
    display: flex;
    flex-wrap: wrap;
    margin:10px; 

}

#breedStats > div{
    font-size:28px;
    margin-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(0, 255, 255);
}
#base-steps{
    width: 180px;
}
#classification{
    width: 140px;
    
}
#breedStats > div > p {
    margin: 0px;
    position: relative;
    left: 5px;
    right: 5px;
}

#genderDisplay{
    display: flex;
    flex-wrap: wrap;
    margin:10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
}

#male{
    background-color: rgb(184, 68, 184);
    width: 50%;
    display: none;
    border-radius: 50px 0 0 50px;   
}

#female{
    background-color: orangered;
    width: 50%;
    display: none;
    border-radius: 0 50px 50px 0px; 
}

#non-binary{
    background-color: silver;
    width: 100%;
    display: inline;
    border-radius: 50px;
}

#male > p {
    margin: 0px;
    position: relative;
    left: 5px;
    
}

#female > p{
    margin: 0px;
    position: relative;
    right: 5px;
    
}

#non-binary > p {
    margin: 0px;
    position: relative;
    
}

#genderHandle {
    background: white;
    border-style: solid;
    border-width: 1px;
    width: 10px;
    height: 40px;
    border-radius: 2px;
    position: absolute;
    top: 206px;
    left: 180px;
    display: none;
    
}

.percentage{
    font-size: 30px;  
}


#catchingStats{
    /*display: ruby;*/
    font-size: 60px;
    margin-top: 10px;
}

#catchingStats > div{
   
    width: 340px;
    height: 40px;
    font-size:30px;
   
    
    margin: 5px 0px 0px 10px;
    float: top;
    border-radius: 5px;
    border-color: black;
    border-width: 0px;
    border-style: solid;
    background-color: rgb(168, 174, 255);
    transform: skewX(-10deg);
    
}

#catchingStats > div > p {
    margin: 0px;
    position: relative;
    left: 5px;
    top: 5px;
    font-weight: bold;
}

#catching {
    background: rgb(225, 199, 255);
}




#typeCompatibilitySlider{
    background-color: rgb(130, 255, 182); 
    margin: 0 auto;
    width: 300px;
    top: 10px;
    font-size:30px;
    position:absolute;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

#typeCompatibilitySlider > button {
    background-color: rgb(255, 130, 130); 
    margin: 0 auto;
    display: flex;
    background-size: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
    position: relative;
    width: 45px;
    height: 45px;
    margin: 12px;
    font-size: 35px;
    transition: left 0.2s, transform 0.1s;
}

#typeCompatibilitySlider > button > p {
    margin: 0px;
    position: relative;
    top:-11px;
    left:-4px;
    
}


/*typeLeft, typeRight*/

#typeLeft {
    float: left;
}

#typeRight {
    float: right;
    top: -72px;
}

#typeCompatibilitySlider > button:hover{
    background-color: rgb(255, 130, 130); 
}

#typeCompatibilityButtons > button:active {
    background-color: rgb(255, 130, 130); 
    left: -5px;
}

#typeCompatibility {
    background: rgb(199, 255, 216);
}



#formsNameHeader{
    font-size: 40px;
    margin: 0px;
}

#forms {
    background: rgb(199, 251, 255);
}

.dataScreen {
    transition: all 0.2s;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 380px;
    height: 250px;
    position: absolute;
    top: 60px;
    left: 286px;
    text-align: center;
}



/*
*    BARRA DE CAMBIO DE STATS
*/
#toolbar {
    /*background: rgb(253, 129, 243);*/
    background-image: url("../images/interface/Button_Green_StatsBanner.png");
    background-size:100% 100%;
    position: absolute;
    /*display: inline;   */
    top: 320px;
    left: 286px;
    width: 380px; 
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;  
}

#displayScreen{
    margin: 0px;
    padding: 0px;
    display: inline;
    position: relative;
       
}

#displayL {
    background-color: rgba(1, 1, 1, 0);
    background-image: url("../images/interface/Button_Green_ButtonOff.png");
    background-size: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px 0 0 50px;
    position: relative;
    width: 15%;
    height: 2em;
    margin: 7px;
    vertical-align: center;
    float: left;
    left: 0;
    transition: left 0.2s, transform 0.1s;
}

#displayL:hover {
    background-image: url("../images/interface/Button_Green_ButtonHover.png");   
}

#displayL:active {
    background-image: url("../images/interface/Button_Green_ButtonOn.png");
    left: -5px;
}

#displayR {
    background-image: url("../images/interface/Button_Green_ButtonOffFlip.png");
    background-size: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 50px 50px 0px;
    position: relative;
    width: 15%;
    height: 2em;
    margin: 7px;
    vertical-align: center;
    float: right;
    left: 0;
    transition: left 0.2s, transform 0.1s;
}

#displayR:hover {
    background-image: url("../images/interface/Button_Green_ButtonHoverFlip.png");
    
}

#displayR:active {
    background-image: url("../images/interface/Button_Green_ButtonOnFlip.png");
    left: 5px;
}

#lowerArea {
    top: -70px;
    margin: 0 auto;
    background-image:url("../images/interface/Interface_Lower.png");
    background-size: 100% 100%;
    width: 1150px;
    height:590px;
    position:relative;
    z-index: -2;
}

#lowerScreen{
    position: relative;
    margin: 0  auto; 
    padding: 10px;
    top: 16.5%;
    border-radius: 10px;
    background-image: url("../images/interface/Pattern_LineV.png");
    background-size:60px 60px;
    width: 700px;
    height: 400px;
}

/*
 *    CUADRÍCULA
 */

#pokemonSelector{
     width: 430px;
     height: 325px;
     display: flex;
     flex-wrap: wrap;
 }
#grid {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 325px;
    width: 425px;
    float: left;
    padding: 10px;
    position: relative;
    top: 20px;
    
}

#loading {
    height: 165px;
    width: 410px;
    padding: 10px;
    position: relative;
    top: -235px;
    display: inline;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.loadingShown {
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.1s linear, transform 0.1s linear;
}

.loadingHidden {
    transform: scale(0.8);
    opacity: 0;
    transition: opacity 0.1s linear, transform 0.1s linear;
}

#loading > div {
    margin: 0px;
    position: relative;
    top: 45px;
    left: 20px;
}

#loading > div > p {
    display: inline;
}

#loadingSpin {
    width: 40px;
    height: 40px;
    background-image: url("../images/interface/Interface_Loading.png");
    background-size: 40px 40px;
    animation: loadingSpinAnim 1s linear infinite;
    position: relative;
    top: -55px;
    left: 40px;
}

#grid > div {
    width: 25px;
    height: 25px;
    margin: 2px;
    padding: 18px;
    font-size: 30px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    text-align: center;
    background: rgb(199, 199, 199);
    transition: background 0.2s, color 0.2s, transform 0.1s;
}
.gridImage{
    position: relative;
    left: -17px;
    top: -67px;
    width: 60px;
    height: 45px;
}

#grid > div:hover {
    background: rgb(158, 158, 158);
    transform: scale(1.1);
}

#grid > div:active {
    background: rgb(0, 0, 0);
    color: white;
    transform: scale(1);
}

#grid > div > p {
    font-size: 20px;
    position: relative;
    top: -40px;
}

#grid::-webkit-scrollbar {
    width: 5px;
}

#grid::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#grid::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: white;
}
#grid::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: rgb(139, 139, 139);
}

#filtersPanel {
    float: right;
    
}
#moreFilters{
    background-image:url("../images/interface/Button_Green_MoreFilters.png");
    background-size: 100% 100%;
}